aiohappyeyeballs
aiohttp
aiomysql
aiosignal
attrs
base58
beautifulsoup4
cachetools
certifi
cffi
curl_cffi
discord.py[voice]
frozenlist
idna
imagehash
multidict
numpy
pillow
propcache
psutil
pycparser
PyMySQL
python-dateutil
python-dotenv
python-whois
PyWavelets
scipy
six
soupsieve
typing-extensions
urllib3
yarl
aiocache
gql[all]
cryptography
